{% extends "_layouts/cp" %}
{% set title = 'Utilio Plugin' %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="utilio">
    <input type="hidden" name="settings[selectedSite]" value="{{ site }}">

    {% for site, siteSettings in settings.siteSettings %}
        <input type="hidden" name="settings[siteSettings][{{ site }}][endpoint]" value="{{ siteSettings.endpoint }}">
        <input type="hidden" name="settings[siteSettings][{{ site }}][apiKey]" value="{{ siteSettings.apiKey }}">
    {% endfor %}

    <p>
        Let op: de instellingen worden niet opgeslagen bij het wisselen van tab.
    </p>

    {{ forms.textField({
        first: true,
        label: "Endpoint",
        name: "settings[siteSettings][#{site}][endpoint]",
        value: settings.siteSettings[site].endpoint
    }) }}

    {{ forms.textField({
        label: "API key",
        name: "settings[siteSettings][#{site}][apiKey]",
        value: settings.siteSettings[site].apiKey
    }) }}

    {% if settings.errors.siteSettings is defined %}
        <ul class="errors">
            {% for error in settings.errors.siteSettings %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
